{{#> main}}
  <main>
    <header class="FiverLogo">
      <a href="https://fiverr.com">
        <h1 alt="Fiverr">{{inlineSVG "Logo-Fiverr-Dark.svg" width="160"}}</h1>
      </a>
    </header>
    <section class="Section Section--winAPod">
      <header class="Hero">
        <h1 class="Hero-heading">
          <span class="Hero-heading-win">Win <strong>a freelance</strong> escape</span>
          <div class="Hero-heading-pod"><strong>P<span class="Hero-heading-pod-o">O</span>D</strong></div>
        </h1>
        <div class="Hero-sub">Simply by telling us why your WFH setup is a little&hellip; WTF.</div>
      </header>
      <div class="Section-content">
        <p>
          So the whole world is suddenly WFH, huh? And while it’s probably nothing new for you, it means your partner’s suddenly Zooming all day in the kitchen, your kids are clogging up the study, or your housemate’s spreading out spreadsheets in the living room.
        </p>
        <p class="Section-feature">
          Don’t you wish you could escape to your own little pod of <strong>freelancer freedom</strong> to get a little peace and quiet?!
        </p>
        <p>
          To go into the running to win your own Fiverr Escape Pod just sign up for free as a seller and setup your Gig before <strong>{{competitionCloseDate}}</strong>. Easy.
        </p>
        <a class="Button Button--green" href="javascript: void 0" data-scroll-to="enterNow">Enter now</a>
      </div>
    </section>
    <section class="Section Section--becomeASeller1">
      <div class="Section-content">
        <h1>Why <strong>become a Fiverr</strong> seller?</h1>
        <div class="Benefits">
          <div class="Benefits-cell Benefits-cell--clients">
            <div><div><div>
              Stop<br>
              chasing clients.<br>
              <strong>We bring them<br>
              to you.</strong>
            </div></div></div>
          </div>
          <div class="Benefits-cell Benefits-cell--invoices">
            <div><div><div>
              Stop<br>
              chasing invoices.<br>
              <strong>Get paid on time,<br>
              everytime.</strong>
            </div></div></div>
          </div>
        </div>
      </div>
    </section>
    <section class="Section Section--becomeASeller2">
      <div class="Section-content">
        <div class="Benefits">
          <div class="Benefits-cell Benefits-cell--global">
            <div><div><div>
              Get work locally<br>
              <strong>and globally.</strong>
            </div></div></div>
          </div>
          <div class="Benefits-cell Benefits-cell--focus">
            <div><div><div>
              Focus on what<br> you’re good at.<br>
              <strong>We’ll look after<br> the rest.</strong>
            </div></div></div>
          </div>
        </div>
        <p class="Section-centeredText">
          You’ll need to register as a Fiverr Seller with a listed service to enter.
        </p>
        <a class="Button Button--green" href="{{getStartedUrl}}" target="_blank">Get started</a>
      </div>
    </section>
    <section class="Section Section--thePrize">
      <div class="Section-content">
        <div class="Section-content-left">
          <h1>The <strong>Prize.</strong></h1>
          <p class="Section-content-text">
            The <strong>Fiverr Escape Pod</strong> is a purpose built home-office that, if you’re lucky enough to win it, will be dropped into your backyard to set you up with the perfect conditions for freelancer freedom for evermore!
          </p>
          <p class="Section-content-note">
            Please note: if you live in an apartment or don’t think you have room/permission to have a 2.2x2.2m pod dropped onto the property you live at, maybe think twice about entering.
            Soz! See <a href="javascript:void 0" data-open-modal="termsAndConditions">terms and conditions</a> for details.
          </p>
        </div>
        <div class="Section-content-right"></div>
      </div>
    </section>
    <section class="Section Section--features">
      <div class="Section-content">
        <h1><strong>Escape Pod</strong> features.</h1>
      </div>
      <div class="Slides">
        <div class="Slides-blips">
          <div class="Slides-blip active"></div>
          <div class="Slides-blip"></div>
          <div class="Slides-blip"></div>
        </div>
        {{#> slide}}
          <div class="cornerText bottom right">
            Purpose-designed home office pod by award winning Melbourne-based prefabricated building company, Harwyn.
          </div>
        {{/slide}}
        {{#> slide}}
          <div class="cornerText top left">
            Size: 2.2m &times; 2.2m (total external dimensions)<br>
            Fully Australian designed, engineered, certified, and built.
          </div>
        {{/slide}}
        {{#> slide}}
          <div class="cornerText bottom left">
            100% Australian materials.<br>
            Permanent structure that has the ability to be easily relocated.
          </div>
        {{/slide}}
        {{#> slide}}
          <div class="cornerText top right">
            High levels of thermal and acoustic insulation.<br>
            Commercial fixed and awning window sets.
          </div>
        {{/slide}}
        {{#> slide}}
          <div class="point a">
            <div class="content">
              Architectural LED lighting system
            </div>
          </div>
          <div class="point b">
            <div class="content">
              Climate control system
            </div>
          </div>
          <div class="point c">
            <div class="content">
              Delivery and installation
            </div>
          </div>
          <div class="point d">
            <div class="content">
              Valued at over $29,000
            </div>
          </div>
          <div class="point e">
            <div class="content">
              Fully transportable and easily relocated
            </div>
          {{/slide}}
        </div>
      </div>
    </section>
    <section class="Section Section--howToEnter">
      <div class="Section-content">
        <h1>How to <strong>enter.</strong></h1>
        <div class="Steps">
          <div><div><div>
            <div class="Steps-number">
              1
            </div>
            <div class="Steps-text">
              Sign up for free to become a Fiverr seller.
            </div>
          </div></div></div>
          <div><div><div>
            <div class="Steps-number">
              2
            </div>
            <div class="Steps-text">
              Get busy and set up your Gig.
            </div>
          </div></div></div>
          <div><div><div>
            <div class="Steps-number">
              3
            </div>
            <div class="Steps-text">
              Tell us why you need to escape to your own escape pod.
            </div>
          </div></div></div>
        </div>
      </div>
    </section>
    <section id="enterNow" class="Section Section--form">
      <form
        class="Section-content"
        accept-charset="UTF-8"
        action="{{formPostUrl}}"
        enctype="multipart/form-data"
        method="POST"
      >
        <h1><strong>Enter now</strong> and esape.</h1>
        {{> field id="fullName" label="Full name" required=true}}
        {{> field
          id="accountName"
          label="Fiverr account name"
          placeholder="Don’t have an account yet? fiverr.com/join"
          required=true
        }}
        {{> field
          id="homeAddress"
          label="Home address"
          placeholder="Home address"
          required=true
        }}
        {{> field
          id="contactNumber"
          label="Contact number"
          placeholder="Contact number"
          required=true
        }}
        {{> field
          id="gig"
          label="Your Fiverr Gig number"
          placeholder="Insert link to your Gig on Fiverr"
          required=true
        }}
        <div class="Field">
          <label class="Field-label" for="photo">
            Show us your #WTFWFH situation
          </label>
          <input
            class="Field-input"
            id="photo"
            name="photo"
            type="file"
            required
            placeholder="Upload your photo"
            accept="image/*"
            data-max-size="5"
          />
        </div>
        <div class="Field">
          <label
            class="Field-label"
            for="photoCaption"
          >Give your photo a caption</label>
          <textarea
            class="Field-input"
            id="photoCaption"
            name="photoCaption"
            placeholder="In less than 60 characters give us the lowdown on your #WTFWFH situation. It should express to us why you deserve your very own Fiverr Escape Pod!"
            maxlength="60"
            rows="6"
            required
          ></textarea>
          <div class="Field-lengthCount" data-length-count-for="photoCaption">
            <!-- To fill with JS -->
          </div>
        </div>
        {{#> checkbox id="canReceive" required=true}}
          Should I be deemed the winner, I confirm that I am able to receive the prize and have a suitable residential address for its installation
        {{/checkbox}}
        {{#> checkbox id="accept" required=true}}
          Yes, I accept the <a href="javascript:void 0" data-open-modal="termsAndConditions">terms and conditions</a>
          and <a href="{{privacyPolicyUrl}}" target="_blank">privacy policy</a>
        {{/checkbox}}
        {{#> checkbox id="receiveEmails" checked=true}}
          Receive Fiverr emails about news and cool stuff
        {{/checkbox}}
        <div class="Section-submitRow">
          <button class="Button Button--pink" type="submit">
            Submit
          </button>
        </div>
      </form>
    </section>
    <section class="Submitted" id="submitted" style="display: none">
      <h1>Congratulations!</h1>
      <p>
        We’ve got your entry. We’ll be in touch soon to let you know how you got on.
      </p>
      <p>TODO: Socials</p>
    </section>
    <section class="Terms" id="termsAndConditions" style="display: none">
      <div class="Terms-content">
        <h1><strong>Terms and</strong> conditions</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut urna urna, sodales sed ipsum et, rhoncus feugiat ex. Sed vel lorem sem. Nulla mauris metus, vestibulum id ante vel, eleifend elementum nisl. Nam vitae pharetra ante. Maecenas id feugiat augue. Duis et neque et eros luctus placerat. Aliquam erat volutpat. Nulla ut vehicula sem. Nam aliquam tortor nec hendrerit laoreet. Morbi eu est quis massa dignissim pulvinar. Pellentesque eu diam at metus faucibus tincidunt. Praesent lacinia risus quis lorem dignissim viverra. Phasellus convallis urna ex, sit amet gravida ipsum porta a. Vivamus justo ante, efficitur eget malesuada eget, scelerisque ut leo.
        </p>
        <p>
          Sed consequat sagittis metus, ac pulvinar massa placerat et. In gravida dapibus nisi, id porta dui fringilla interdum. Duis leo diam, vehicula quis ornare sed, accumsan vel velit. Integer non laoreet diam. Nulla vel lacus sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis id orci lacus. Sed quis posuere nisi, ac egestas metus. Etiam tincidunt ac felis et venenatis.
        </p>
        <p>
          Quisque tortor libero, malesuada nec diam vitae, tristique sagittis arcu. Vestibulum vel velit ultrices, fermentum libero vel, venenatis nibh. Pellentesque rutrum rhoncus commodo. Sed nec velit a urna tincidunt blandit. Duis in viverra dolor, sit amet tempus arcu. Ut ullamcorper leo posuere urna rhoncus, sed dignissim odio placerat. Nulla euismod, justo et viverra eleifend, tellus mauris condimentum felis, vel aliquet augue massa ut odio. Suspendisse dignissim ipsum metus, ac consectetur tortor facilisis in. Sed fermentum eu nunc id cursus. In venenatis magna ac neque laoreet placerat. Etiam enim magna, sagittis vitae vehicula dictum, finibus ut augue.
        </p>
        <p>
          Donec fermentum urna sit amet orci accumsan, in tincidunt nunc sagittis. In hac habitasse platea dictumst. Fusce ac sollicitudin sem, vitae semper leo. Sed volutpat pharetra odio sed facilisis. Maecenas dictum ligula ut augue fermentum, ut fermentum risus facilisis. Proin bibendum venenatis tellus, vel posuere metus mollis sed. Nam at felis mauris. Aliquam hendrerit lacinia nulla, ac ornare lacus maximus id. Proin porttitor vestibulum metus, et viverra nunc ullamcorper vel.
        </p>
        <p>
          Pellentesque eget erat venenatis, pulvinar lacus ut, vulputate risus. Morbi at velit magna. Praesent tristique feugiat quam. Sed lectus velit, mattis eget ipsum vestibulum, lacinia dapibus ipsum. Cras id augue justo. Sed finibus viverra sapien vitae facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut ex nisi. Maecenas sit amet pharetra lectus. Nullam condimentum lacus ac gravida gravida. Pellentesque bibendum felis sem. Nunc placerat porttitor nisi. Nulla tortor ligula, ultrices at ullamcorper a, fermentum a sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        </p>
        <a style="margin-top: 100px" class="Button Button--pink" href="javascript:void 0" data-close-modal>
          Close
        </a>
      </div>
    </section>
  </main>
  <script>
    var currentModal = null;

    function openModal(element) {
      closeModal();
      element.style.display = "block";
      currentModal = element;
      document.body.style.overflowY = "hidden";
    }

    function closeModal() {
      if (currentModal !== null) {
        currentModal.style.display = "none";
        currentModal = null;
      }
      document.body.style.overflowY = "auto";
    }

    function queryEach(selector, cb) {
      Array.from(document.querySelectorAll(selector)).forEach(cb);
    }

    queryEach("[data-open-modal]", element => {
      element.addEventListener("click", () => {
        const id = element.dataset["openModal"];
        openModal(document.getElementById(id));
      });
    });

    queryEach("[data-close-modal]", element => {
      element.addEventListener("click", closeModal);
    });

    queryEach("[data-scroll-to]", element => {
      element.addEventListener("click", () => {
        const id = element.dataset["scrollTo"];
        document.getElementById(id).scrollIntoView({
          behavior: "smooth",
          block: "start"
        });
      });
    });

    queryEach("[data-length-count-for]", element => {
      const inputId = element.dataset["lengthCountFor"];
      const textArea = document.getElementById(inputId);
      const update = () => {
        element.innerText = textArea.value.length + " / " + textArea.maxLength;
      };
      textArea.addEventListener("change", update);
      textArea.addEventListener("input", update);
      update();
    });

    queryEach("input[type='file'][data-max-size]", element => {
      const maxSizeString = element.dataset["maxSize"];
      if (maxSizeString == null) {
        return;
      }
      const maxSize = parseInt(maxSizeString);
      element.addEventListener("change", () => {
        Array.from(element.files).forEach(file => {
          const sizeMb = file.size / 1024 / 1024;
          if (sizeMb > maxSize) {
            element.setCustomValidity("File is larger than maximum size of " + maxSize + "MB");
          } else {
            element.setCustomValidity("");
          }
        })
      })
    });
  </script>
{{/main}}
