{{#> main}}
  <main class="Congratulations">
    <div class="content">
      <h1>Congratulations!</h1>
      <p>We’ve got your entry. We’ll be in touch soon to let you know how you got on.</p>
      <div class="socials">
        <a href="{{instagramUrl}}">{{inlineSVG "Icon-Instagram.svg"}}</a>
        <a href="{{facebookUrl}}">{{inlineSVG "Icon-Facebook.svg"}}</a>
        <a href="{{twitterUrl}}">{{inlineSVG "Icon-Twitter.svg"}}</a>
        <a href="{{linkedInUrl}}">{{inlineSVG "Icon-LinkedIn.svg"}}</a>
      </div>
    </div>
  </main>
{{/main}}