<div class="Field">
  <label class="Field-label" for="{{id}}">{{label}}</label>
  <input
    class="Field-input"
    id="{{id}}"
    name="{{id}}"
    {{#if type}}type="{{type}}"{{/if}}
    {{#if required}}required{{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
  />
</div>